* {
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
body {
    font-size: 18px;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    /* background-position: center;  */
    background-size: cover;
  margin: 0;
}
h1 {
  font-size: 28px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
a {
  text-decoration: none;
}
.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-left: gray 2.5px solid;
  border-right: gray 2.5px solid;
  background-color: white;
  height: 100vh;
}
.inner-container {
  width: 420px;
  margin: 0 auto;
}
.number-form-wrapper {
  display: block;
  margin-bottom: 12px;
}
.number-form-wrapper input {
  width: 21%;
  height: 40px;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 18px;
}
.radio-buttons {
  margin-left: 24px;
}
#lt-form {
  margin-left: 10px;
  background-color: rgb(222, 207, 207);
}
#tag-form {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 18px;
}
.tag-form-wrapper {
  display: flex;
  margin-bottom: 20px;
}
.tag-label {
  margin-top: 8px;
}

.submit-wrapper {
  margin-top: 34px;
}
#clear-button {
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
#submit-button {
  width: 72%;
  border-radius: 5px;
  padding: 12px;
  font-size: 20px;
  margin-left: 16px;
}

.sort-radio-wrapper {
  margin-top: 24px;
  margin-bottom: 22px;
}
.sort-label {
  padding: 8px 12px 8px 6px;
}

.tag-necessary {
  font-size: 12px;
  margin-left: 100px;
  background-color: rgb(250, 181, 192);
  border-radius: 2px 2px 0 0;
  padding: 4px 6px;
}

.stock-necessary {
  font-size: 12px;
  margin-left: 103px;
  background-color: rgb(250, 181, 192);
  border-radius: 2px 2px 0 0;
  padding: 4px 6px;
}
.stock-optional {
  font-size: 12px;
  margin-left: 98px;
  background-color: rgb(195, 223, 235);
  border-radius: 2px 2px 0 0;
  padding: 4px 6px; 
}

/* ---- オートコンプリート ----*/
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
/* ここ必要。ここを消すとオートコンプリートできない */
.autocomplete {
  /*the container must be positioned relative:*/
  margin-left: 50px;
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgb(232, 255, 221) !important;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 400;
  margin-bottom: 8px;
  z-index: 0;
}

/* modal */
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity : 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 30px 30px;
  background-color: #fff;
}
.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 32px;
  border: 1px gray solid;
  padding: 4px 8px 0px 8px;
  border-radius: 4px;
}
.is-show {
  visibility: visible;
  opacity : 1;
}
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity : 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 30px 30px;
  background-color: #fff;
}
.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
.is-show {
  visibility: visible;
  opacity : 1;
}
.privacy-policy {
  margin-right: 12px;
}

/* 画面が小さい時に適用される */
@media screen and (max-width: 900px) {

  /* .container {
    width: 430px;
  } */
  .container {
    width: 100%;  
  }
  .footer {
    display: none;
  }

}